button {
  background: none;
  border: none;
  box-shadow: var(--focus-box-shadow) rgba(var(--primary-color-rgb), 0);
  cursor: pointer;
  padding: var(--gap-size) calc(var(--gap-size) * 1.5);
  transition: background var(--primary-animation-speed) ease-out,
    box-shadow var(--primary-animation-speed) ease-out;
  width: 100%;
}

button:hover {
  background: rgba(var(--primary-color-rgb), 0.04);
}

button:active,
button:focus {
  background: rgba(var(--primary-color-rgb), 0.04);
  box-shadow: var(--focus-box-shadow)
    rgba(var(--primary-color-rgb), var(--focus-box-shadow-opacity));
  outline: none;
}

button > svg {
  margin-right: var(--gap-size);
}
