input {
  border: none;
  box-shadow: var(--focus-box-shadow) rgba(var(--primary-color-rgb), 0);
  padding: var(--gap-size) calc(var(--gap-size) * 1.5);
  transition: background var(--primary-animation-speed) ease-out,
    box-shadow var(--primary-animation-speed) ease-out;
  width: 100%;
}

input:hover {
  background: rgba(var(--primary-color-rgb), 0.04);
}

input:active,
input:focus {
  background: rgba(var(--primary-color-rgb), 0.04);
  box-shadow: var(--focus-box-shadow)
    rgba(var(--primary-color-rgb), var(--focus-box-shadow-opacity));
  outline: none;
}
