@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto.woff2");
}

* {
  box-sizing: border-box;
  line-height: 1.75rem;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 4vmin;
  }
}

@media screen and (max-height: 400px) {
  html {
    font-size: 4vmin;
  }
}

body,
button,
input {
  font-family: "Roboto";
  font-size: 1rem;
}

hr {
  border: 1px solid rgba(var(--primary-color), 0.1);
}

h1 {
  background: #263238;
  box-shadow: 0 0 8px 0 rgba(var(--primary-color), 0.5);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: calc(var(--gap-size) * 2) calc(var(--gap-size) * 2);
}

h3,
h4,
label {
  display: block;
  font-weight: bold;
  padding: var(--gap-size) calc(var(--gap-size) * 1.5);
}
